body {
	font-family: "Inter";
	margin: 0px 24px;
}

p {
	font-size: 24px;
}

h1 {
	font-size: 48px;
	font-weight: 400;
}

.hr {
	background: black;
	width: 100%;
	height: 4px;
}

.a {
	flex-shrink: 0;
}

.But {
	border-radius: 12px;
	color: white;
	user-select: none;
}

.But:hover {
	opacity: 85%;
	cursor: pointer;
}

.buttons {
	display: flex;
	justify-content: space-around;
	text-align: center;
	gap: 24px;
}

.others {
	background: #4e6bff;
	flex-grow: 1;
	padding: 18px;
}

.align {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.more {
	background: #4e6bff;
	padding: 18px 32px;
	width: max-content;
	margin: 64px;
}

.home {
	background: #ff4e4e;
	flex-grow: 3;
	padding: 12px;
}

.line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}

img:hover {
	cursor: pointer;
}

.photos {
	gap: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row1 {
	display: flex;
	gap: 16px;
	justify-content: center;
}

.row2 {
	display: flex;
	gap: 16px;
	justify-content: center;
}
